{% extends 'accounts/profile_base.html' %}

{% block title %}Confirm reset Password{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel">
				<div class="panel-body">
					{% include 'accounts/messages.html' %}
					{% if validlink %}
						<p>Please enter your new password twice</p>
						<form class="form-horizontal" action="." method="post">
							{% csrf_token %}
							{{ form.as_p }}
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-success" value="Set password">Set password</button>
								</div>
							</div>
						</form>
					{% else %}
						<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}