{% extends 'accounts/profile_base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel">
				<div class="panel-body">
					{% include 'accounts/messages.html' %}
					<p>Enter your e-mail address to obtain a new password</p>
					<form class="form-horizontal" action="." method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success" value="Send e-mail">Send e-mail</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
		
{% endblock %}

